<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    {{> header}}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation" data-view="list">
        </nav>
    </div>
    <main class="mdl-layout__content">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="showTable">
            Button
        </button>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">name</th>
                <th>Quantity</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody data-view="table">

            </tbody>
        </table>
    </main>
</div>