{{> header}}
<div class="mdl-tabs mdl-js-tabs">
    <div class="mdl-tabs__tab-bar">
        <a href="#tab1" class="mdl-tabs__tab">==></a>
        <a href="#tab2" class="mdl-tabs__tab"id="showFruits">과일</a>
        <a href="#tab3" class="mdl-tabs__tab"id="showWeather">날씨</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tab1">
        <h1>버튼을 누르시오</h1>
    </div>
    <div class="mdl-tabs__panel" id="tab2">
        {{> tab2}}
    </div>
    <div class="mdl-tabs__panel" id="tab3">
        {{> tab3}}
    </div>
</div>