    <table class="mdl-data-table">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">name</th>
            <th>Quantity</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody data-view="fruits">

        </tbody>
    </table>