<button id="showFruits"
         class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    과 일 보 기
</button>

<table class="mdl-data-table">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">name</th>
        <th>Quantity</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody data-view="fruits">

    </tbody>
</table>