<table class="mdl-data-table">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">일자</th>
        <th>온도</th>
    </tr>
    </thead>
    <tbody data-view="weather">

    </tbody>
</table>