<td><ul class='mdl-list'>
    {{#each date as |date index|}}
        <li class="mdl-list__item-text-body">
            <input type="radio" class="mdl-radio__button" checked />
            {{date}}</li>
    {{/each}}
</ul>
</td>
<td>
    <ul class='mdl-list'>
        {{#each weather}}
            <li class="mdl-list__item-text-body">{{temp.day}}ë„</li>
        {{/each}}
    </ul>
</td>